<% include ../partials/boilerplate %>

<section class="logincontainer reg">
  <form method="POST" action="/login">
    <table id="registration-table">
      <tr>
        <input class="logininput" type="input" placeholder="username" name="username">
      </tr>
      <tr>
        <input class="logininput" type="password" placeholder="Password" name="password">
      </tr>
      <tr>
        <div class="field">
          <input type='submit' value='Log in!' class="button" />
        </div>
      </tr>
    </table>
  </form>
</section>
<form action="/login/register" method="get">
  <div class="field regbutton">
    <input type='submit' value='Register' class="regbutton" />
  </div>
</form>

<% include ../partials/foot %>
