<% include ../partials/boilerplate %>

<section class="logincontainer">
  <form method="POST" action="/login">
    <div class="loginfields">
      <input class="logininput" type="input" placeholder="username" name="username">
      <br />
      <input class="logininput" type="password" placeholder="Password" name="password">
      <div class="field">
        <input type='submit' value='Log in!' class="button" />
      </div>
    </div>
  </form>
</section>

<% include ../partials/foot %>
