<% include ../partials/boilerplate %>


<section class="logincontainer reg">
  <form method="POST" action="/login">
    <table id="registration-table">
      <tr>
        <% if(mode == 'badpass') { %>
          <input
            class="logininput"
            type="input"
            placeholder="username"
            name="username"
            onChange="checkUser()"
            value="<%= username %>"
          />
        <% } else { %>
          <input
            class="logininput"
            type="input"
            placeholder="username"
            name="username"
            onChange="checkUser()"
          />
        <% } %>
      </tr>
      <tr>
        <% if(mode === 'badpass') { %>
          <input
            class="logininput"
            type="password"
            placeholder="bad password"
            name="password"
          />
        <% } else { %>
          <input
            class="logininput"
            type="password"
            placeholder="Password"
            name="password"
          />
        <% } %>
      </tr>
      <tr>
        <div class="field">
          <input
            type='submit'
            value='Log in!'
            class="button"
          />
        </div>
      </tr>
    </table>
  </form>
</section>
<form action="/login/register" method="get">
  <div class="field regbutton">
    <input type='submit' value='Register' class="regbutton" />
  </div>
</form>

<script src="../../../scripts/loginScripts.js"></script>

<% include ../partials/foot %>
