<% include ../partials/boilerplate %>

<form action='/login/register' method='post'>
  <div class='logincontainer'>
    <table id="registration-table">
      <tr>
        <td>
          <p>First Name</p>
        </td>
        <td class="reg-inputs">
          <input type="text" id="fname" name="fname" placeholder="first name" required />
        </td>
      </tr>
      <tr>
        <td>
          <p>Last Name</p>
        </td>
        <td class="reg-inputs">
          <input type="text" id="lname" name="lname" placeholder="last name" required />
        </td>
      </tr>
      <tr>
        <td>
          <p>Username</p>
        </td>
        <td class="reg-inputs">
          <input type="text" id="username" name="username" placeholder="username" onChange="checkUserName()" required />
        </td>
      </tr>
      <tr>
        <td>
          <p>E-Mail</p>
        </td>
        <td class="reg-inputs">
          <input type="email" id="email" name="email" placeholder="email" onChange="checkEmail()" required />
        </td>
      </tr>
      <tr>
        <td>
          <p>Password</p>
        </td>
        <td class="reg-inputs">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="password"
            minlength="5"
            onChange="checkPass()"
            required />
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td class="reg-inputs">
          <input type="password" id="passwordcheck" name="passwordCheck" placeholder="enter password again" onChange="checkPass()" required />
        </td>
      </tr>
      <tr>
        <td>
          <p>GA Program</p>
        </td>
        <td class="reg-inputs">
          <select id ="programid" name="programid" onChange="getCohorts()" required>
            <option disabled selected value></option>
            <% programs.forEach(d => { %>
              <option value="<%= d.id %>"><%= d.program %></option>
            <% }) %>
          </select>
          <div class="underline"></div>
        </td>
      </tr>
      <tr>
        <td>
          <p>Cohort</p>
        </td>
        <td class="reg-inputs">
          <select id="cohortid" name="cohortid" required>
            <option disabled selected value></option>
          </select>
          <div class="underline"></div>
        </td>
      </tr>
    </table>
  <br />
  <div class="centerthis">
    <input type="submit" value="Register" />
  </div>
  <div class="centerthis">
    <p id="verifying" style="visibility: hidden">Verifying email...</p>
  </div>
  </div>
</form>

<script src="../../../scripts/registerScript.js"></script>

<% include ../partials/foot %>
