<% if(mode === 'allresources') { %>
  <form action="/main/resources/search" method="get">
<% } else { %>
  <form action="/main/search" method="get">
<% } %>
    <div class="container">
      <div class="kenny">
        <% if(mode === 'allresources') { %>
          <input
          type="text"
          id="mainsearch"
          name="mainsearch"
          placeholder="Search through the resources..."
          value="<%= searchstring %>"
          data="<%= searchid %>"
          autofocus
          >
        <% } else { %>
          <input
            type="text"
            id="mainsearch"
            name="mainsearch"
            placeholder="What are you looking for today?"
            value="<%= searchstring %>"
            data="<%= searchid %>"
            autofocus
            >
        <% } %>
      </div>
      <div class="button">
        <input type="submit" value="SEARCH">
        <div class="dropdown">
          <p class="navlink">Categories</p>
          <div class="dropdown-content">
            <div class="dropdown-row">
              <a href="/main"><p class="navlink">Newest</p></a>
              <a href="#"><p class="disabled navlink">Popular</p></a>
            </div>
            <hr />
            <div class="dropdown-row">
              <a href="#"><p class="disabled navlink">Unit 01</p></a>
              <a href="#"><p class="disabled navlink">Unit 02</p></a>
              <a href="#"><p class="disabled navlink">Unit 03</p></a>
              <a href="#"><p class="disabled navlink">Unit 04</p></a>
            </div>
            <hr />
            <div class="dropdown-row">
              <a href="#"><p class="disabled navlink">Javascript</p></a>
              <a href="#"><p class="disabled navlink">JQuery</p></a>
              <a href="#"><p class="disabled navlink">API</p></a>
              <a href="#"><p class="disabled navlink">Node</p></a>
              <a href="#"><p class="disabled navlink">SQL</p></a>
              <a href="#"><p class="disabled navlink">React</p></a>
              <a href="#"><p class="disabled navlink">Ruby</p></a>
            </div>
          </div>
        </div>
          <p class="disabled navlink">Tutorials</p>
      </div>
    </div>
  </form>
<article class="buttoncontainer clearfix">
  <form action="/main/post/new">
    <input class="newpostbutton" id="upperright" type="submit" value="Ask A Question">
  </form>
</article>


