<% if(mode === 'allresources') { %>
  <form action="/main/resources/search" method="get">
<% } else { %>
  <form action="/main/search" method="get">
<% } %>
    <div class="container">
      <div class="kenny">
        <% if(mode === 'allresources') { %>
          <input
          type="text"
          id="mainsearch"
          name="mainsearch"
          placeholder="Search through the resources..."
          value="<%= searchstring %>"
          data="<%= searchid %>"
          autofocus
          >
        <% } else { %>
          <input
            type="text"
            id="mainsearch"
            name="mainsearch"
            placeholder="What are you looking for today?"
            value="<%= searchstring %>"
            data="<%= searchid %>"
            autofocus
            >
        <% } %>
      </div>
      <div class="button">
        <input type="submit" value="SEARCH">
        <a href="/main"><p class="navlink">Newest</p></a>
        <p class="disabled navlink">Popular</p>
      </div>
    </div>
  </form>
<article class="buttoncontainer clearfix">
  <form action="/main/post/new">
    <input class="newpostbutton" id="upperright" type="submit" value="Ask A Question">
  </form>
</article>


