<div id="navbar">
  <!-- <div id="woodpaneling"> -->
    <form action="/main/post/new">
      <input class="newpostbutton" type="submit" value="Ask A Question">
    </form>
    <div class="navitems">
      <p>test</p>
      <p>example</p>
      <p>example</p>
      <p>Profile</p>
    </div>
  <!-- </div> -->
</div>
