<div id="navbarfixed">
  <!-- <div id="woodpaneling"> -->
    <form action="/main/post/new">
      <input class="newpostbutton" type="submit" value="Ask A Question">
    </form>
    <div class="navitemsfixed">
      <button onClick="location.href='/login/logout'" class="navbutton">Log out</button>
      <button onClick="location.href='/main/resources'" class="navbutton">Resources</button>
      <button onClick="location.href='#'" class="navbutton">API</button>
      <button onClick="location.href='#'" class="navbutton">Profile</button>
    </div>
  <!-- </div> -->
</div>

