
<div id="navbartabbed">
  <!-- <div id="woodpaneling"> -->

      <p class="navlinkmessage">Please report bugs or features you want to see to me on Slack: @philyoosays</p>

    <form action="/main/post/new">
      <input class="newpostbutton" type="submit" value="Ask A Question">
    </form>
    <div class="navitemstabbed">
      <button onClick="location.href='/login/logout'" class="navbutton">Log out</button>
      <button onClick="location.href='/main/resources'" class="navbutton">Resources</button>
      <button onClick="location.href='#'" class="navbutton">API</button>
      <button onClick="location.href='/profile'" class="navbutton">Profile</button>
    </div>
  <!-- </div> -->
  <div id="navtab">
    <h2>-</h2>
    <h2>-</h2>
    <h2>-</h2>
  </div>
</div>
