
<div id="searchresults">
  <% if(resources.length === 0) { %>
<!--     <div id="searchresultnumber">
      <h3>0 results</h3>
    </div> -->
  <% } else if(Object.keys(resources[0]).length === 0) { %>
  <% } else { %>
    <hr />
    <% resources.forEach(d => { %>
      <div class="kenny">
        <h2 class="posttitle"><%= d.post_title %></h2>
        <p><%= d.post %>...</p>
        <div>
          <span class="showpostdate">Posted <%= d.date_created.toString().slice(0,15) %></span>
        </div>
      </div>
      <hr />
    <% }) %>
  <% } %>
</div>
