<% include ../partials/boilerplate %>
<form action="/main/post/new" method="post">
  <div class="button">
    <label for="new-post-title">Title</label>
    <br/>
    <input type="text" id="new-post-title" name="title" placeholder="Pick a good title for your post..." required>
    <br/>
    <div id="editor">
    </div>
    <input id="submit-form" name="submit-form" type="text" value="test" style="display: none">
    <div class="button">
      <input type="submit" value="Post" onClick="storeFormData()">
    </div>
  </div>
</form>

<!-- <script src="../../../highlight.js/lib/highlight.js"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<!-- <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script> -->
<script src="../../quill/dist/quill.js"></script>
<script src="../../quill/core/quill.js"></script>
<script src="../../quill-emoji/dist/quill-emoji.js"></script>
<script src="../../scripts/scriptPost.js"></script>

<script>
// function storeFormData() {
//   console.log(document.getElementById('submit-form'))
//   let about = document.getElementById('submit-form');
//   debugger;
//   console.log(about);
//   console.log(about.value);
//   console.log(quill.getContents());
//   // about.value = JSON.stringify(quill.getContents());
// }
</script>

<% include ../partials/foot %>
