<% include ../partials/boilerplate %>

<% if( mode === 'newpost') { %>
  <form action="/main/post/new" method="post">
<% } else if(mode === 'newcomment') { %>
  <form action="/main/comment/<%= postid %>/new" method="post">
<% } %>
<form action="/main/post/new" method="post">
  <div class="buttoncentered">
    <% if(mode === 'newpost') { %>
      <h1 class="header">New Post</h1>
      <hr />
      <label for="new-post-title">Title</label>
      <br/>
      <input type="text" id="new-post-title" name="title" placeholder="Pick a good title for your post..." required>
      <br/>
    <% } else if(mode === 'newcomment') { %>
      <h1 class="header">New Comment</h1>
      <hr />
    <% } %>
    <div id="editor">
    </div>
    <input id="submitformhtml" name="submitformhtml" type="text" style="display: none">
    <input id="submitformtext" name="submitformtext" type="text" style="display: none">
    <div class="buttoncentered">
      <input type="submit" value="Post" onClick="storeFormData()">
    </div>
  </div>
</form>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="../../../quill-emoji/dist/quill-emoji.js"></script>
<script src="../../../scripts/scriptPost.js"></script>


<% include ../partials/foot %>
