input[type="submit"] {
  background: rgb(255, 0, 42);
  color: white;
  padding: 8px 30px;
  border-radius: 10px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

#mainsearch {
  width: 70%;
  height: 35px;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  position: relative;
  left: 15%;
/*  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black*/
}

.kenny {
  margin: 50px auto 10px ;
}

.searchform {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.button {
  position: relative;
  left: 15%;
}

.logincontainer {
  display: flex;
  justify-content: center;
}

.logincontainer > * {
  font-family: sans-serif;
}

.formlabels, .inputfields {
  flex: 1;
  padding: 5px;
}

.formlabels {
  text-align: right;
}

.centerthis {
  display: flex;
  justify-content: center;
}

label {
  line-height: 100%;
}
