body {
  font-family: 'Roboto', sans-serif;
}

input[type="submit"] {
  background: rgb(255, 0, 42);
  color: white;
  padding: 8px 30px;
  border-radius: 10px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

input[type="submit"]:hover {
  background: rgb(195, 0, 42);
  color: white;
  border: 1px solid rgb(255, 0, 42);
  padding: 8px 30px;
  border-radius: 10px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

label {
  line-height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-weight: 100;
}

h2, h3 {
  font-family: 'Playfair Display', serif;
}

#searchresultnumber {
  position: relative;
  right: -75%;
}

#mainsearch {
  width: 99.7%;
  height: 35px;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
}

#mainsearch:focus {
    outline-width: 0;
}

.kenny {
  margin: 50px auto 10px ;
  width: 70%;
/*  border: 2px solid red;*/
}

.button {
  width: 70%;
/*  border: 2px solid blue;*/
  position: relative;
  left: 15%;
}

.container {
  width: 100%;
  display: block;
  margin: 0 auto;
/*  border: 2px solid black;*/
}

.tags {
  display: flex;
}

#searchtag {
/*  background: rgb(255, 0, 42);
  color: white;*/
  font-size: 12px;
  border-radius: 6px;
  padding: 5px 15px;
  flex: 1;
}

#editor {
  height: 100px;
}

.logincontainer {
  display: flex;
  justify-content: center;
}

.logincontainer > * {
  font-family: sans-serif;
}

.formlabels, .inputfields {
  flex: 1;
  padding: 5px;
}

.formlabels {
  text-align: right;
}

.centerthis {
  display: flex;
  justify-content: center;
}

