<% include ../partials/boilerplate %>

<form action="/search" method="get">
  <div class="searchform">
    <div class="kenny">
      <input type="text" id="mainsearch" name="mainsearch" placeholder="What are you looking for today?">
    </div>
    <div class="button">
      <input type="submit" value="Let's Find It">
    </div>
  </div>
</form>

<% include ../partials/foot %>
